@model IEnumerable<BTLASPMONGO.ViewModel.NewsViewModel>
@{
    ViewData["Title"] = "NewsSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Post -->
<section class="bg0 p-t-20">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div id="records">
                    <!-- Entertainment -->
                    <div class="tab01 p-b-20">
                        <div style="height:none;" class="tab01-head  how2-cl1 bocl12 flex-s-c m-r-10 m-r-0-sr991">
                            <form action="search">
                                <label style="color:black; font-size:20px; font-weight:600;">Tìm Kiếm ?</label>
                                <div class="pos-relative size-a-search bo-1-rad-4 of-hidden bocl11 m-tb-6">

                                    <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="key" id="key_search" value="@ViewBag.Key" onkeyup="checkKey()">
                                    <button type="submit" class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>

                                </div>
                                <div class="d-flex flex-row mt-4">
                                    <div class="form-group w-25 mr-3">
                                        <label for="exampleFormControlSelect1">Thời Gian</label>
                                        <select name="date" class="form-control" id="exampleFormControlSelect1" onchange="this.form.submit()">
                                            <option value="all">Tất cả</option>
                                            @if (ViewBag.Date == "day")
                                            {
                                                <option value="day" selected>1 Ngày qua</option>
                                            }
                                            else
                                            {
                                                <option value="day">1 Ngày qua</option>
                                            }

                                            @if (ViewBag.Date == "week")
                                            {
                                                <option value="week" selected> 1 Tuần qua</option>
                                            }
                                            else
                                            {
                                                <option value="week"> 1 Tuần qua</option>
                                            }


                                            @if (ViewBag.Date == "month")
                                            {
                                                <option value="month" selected>1 Tháng qua</option>
                                            }
                                            else
                                            {
                                                <option value="month">1 Tháng qua</option>
                                            }
                                            @if (ViewBag.Date == "year")
                                            {
                                                <option value="year" selected>1 Năm qua</option>
                                            }
                                            else
                                            {
                                                <option value="year">1 Năm qua</option>
                                            }


                                        </select>
                                    </div>
                                    <div class="form-group w-25">
                                        <label for="exampleFormControlSelect1">Chuyên Mục</label>
                                        <select name="category" asp-items="ViewBag.CategoryId" class="form-control " style="width: 100%;" onchange="this.form.submit()">
                                            <option value="all">Tất cả</option>
                                        </select>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    @if (Model.Count() > 0)
                    {
                        @foreach (var item in Model)
                        {
                            <div class="flex-wr-sb-s" style="padding:2px">
                                <a href="blog-detail-02.html" class="size-w-8 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25">
                                    <img src="/@item.picture" alt="@item.picture">
                                </a>

                                <div class="size-w-9 w-full-sr575 m-t-5">
                                    <h5>
                                        <a asp-action="NewsDetail" asp-route-id="@item._id" class="f1-l-1 cl2 hov-cl10 trans-03 respon2" style="font-size:18px; font-weight:900;">
                                            @item.news_title
                                        </a>
                                    </h5>

                                    <div class="cl8 p-b-10">
                                        <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                            @item.news_category
                                        </a>

                                        <span class="f1-s-3 m-rl-3">
                                            -
                                        </span>

                                        <span class="f1-s-3">
                                            @String.Format("{0: MM/dd/yyyy}", item.published_time)
                                        </span>
                                    </div>

                                    <p class="f1-s-1 cl6 p-b-24">
                                        @item.news_excerpt
                                    </p>
                                </div>
                            </div>
                        }

                    }

                    else
                    {
                        <span>
                            Không tìm thấy kết quả chứa từ khóa của bạn

                        </span>
                    }


                </div>
                @if (ViewBag.total_Page > 1)
                {
                    <button onclick="showMore()" id="showMoreButton" style="width:20%;" class="mb-5 flex-c-c size-a-13 bo-all-1 bocl11 f1-m-6 cl6 hov-btn1 trans-03 mx-auto rounded border-success">
                        Load More
                    </button>
                    <input type="hidden" id="date" value="@ViewBag.Date" />
                    <input type="hidden" id="category" value="@ViewBag.category" />
                    <input type="hidden" id="total_Page" value="@ViewBag.total_Page" />
                    <input type="hidden" id="key" value="@ViewBag.key" />
                }
            </div>


            <div class="col-md-10 col-lg-4">
                <div class="p-l-10 p-rl-0-sr991 p-b-20">
                    <!--  -->
                    <div class="flex-c-s p-t-8">
                        <a href="#">
                            <img class="max-w-full" src="/User/images/banner-02.jpg" alt="IMG">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
@section Scripts{
    <script>
        function checkKey() {
            var key = document.getElementById("key_search").value;
            if (key == "") {
                document.querySelector("button").disabled = true;
                $('input[type="text"]').keyup(function (event) {
                    if (event.keyCode == 13) {
                        return false
                    }
                });
            } else {
                document.querySelector("button").disabled = false;
            }

        }
        var page = 2;
        function showMore() {
            var date = document.getElementById("date").value;
            var category = document.getElementById("category").value;
            var key = document.getElementById("key").value;
            $.ajax({
                url: 'get-more-records-search?page=' + page + "&key=" + key + "&date=" + date + "&category=" + category,
                success: function (data) {
                    $("#records").append(data);
                    page++;
                }
            });
            if (document.getElementById("total_Page").value == page) {
                document.getElementById("showMoreButton").style.display = "none";
            }
        }

    </script>
}



